[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "brms"]
	path = brms
	url = https://github.com/paul-buerkner/brms
[submodule "thurstonianIRT"]
	path = thurstonianIRT
	url = https://github.com/paul-buerkner/thurstonianirt
